@model List<SistemaPortafolio.Models.HojaVida>
@{
    ViewBag.Title = "Index";
}

<br />

<div class="panel panel-default">

    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary" href="~/Admin/HojaVida/AgregarEditar/">Nueva Hoja de vida</a>
        </div><br /><br />
        <div id="Grilla" class="panel-group"></div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $("#Grilla").anexGrid(
            {
                class: 'table table-hover',
                columnas: [

                    { leyenda: "ID", columna: "hojavida_Id", class: "info" },

                    { leyenda: 'Nombre de docente', columna: 'Persona_id', class: "info", filtro: true, ordenable: true },

                    

                { style: 'Width: 40px;', class: "info" },//visualizar
                ],

                modelo: [

                    { propiedad: "hojavida_Id" },
                    { propiedad: "Persona_id" },
                    {
                        style: '', class: '', formato: function (tr, obj, valor) {
                            return obj.nombre + ' ' + obj.apellido;
                        }
                    },
                    { propiedad: "apellido_docente"},


                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/HojaVida/Imprimir/")'
                                    + obj.hojavida_Id, contenido: "Detalle",
                            contenido: '<i data-toggle="tooltip" data-placement="top" title="Visualizar" class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>',
                            class: 'btn btn-success btn-sm'
                            });
                        }
                    }
                ],

                url: '@Url.Content("~/Admin/HojaVida/CargarGrilla/")',
                filtrable: true,
                paginable: true, //para mostrar la paginación
                limite: [10, 20, 50, 100], //para mostrar un combobox donde se muestra la cantidad de registros por pagina
                columna: 'hojavida_id',
                columna_orden: "ASC"
            });
    })
</script>
