@model IEnumerable<SistemaPortafolio.Models.HojaVida>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-responsive">
            <tr>
                <th>
                    Docente nombre y apellido
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Persona.nombre @item.Persona.apellido

                    </td>
                    <td></td>
                    <td>
                        <a href="/Admin/HojaVida/Imprimir/@item.persona_id" target class="btn btn-success btn-sm"><i data-toggle="tooltip" data-placement="top" title="" class="glyphicon glyphicon-eye-open" aria-hidden="true" data-original-title="Visualizar"></i></a>
                         
                    </td>
                </tr>
            }

        </table>
    </div>
</div>