@model List<SistemaPortafolio.Models.HojaVida>
@{
    ViewBag.Title = "Index";
}


<br />

<div class="panel panel-default">

    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary" href="~/Admin/HojaVida/AgregarEditar/">Nueva Hoja de vida</a>
        </div><br /><br />
        <table id="Grilla" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Hoja ID</th>
                    <th>Docente nombre</th>
                    <th>Docente apellido</th>
                    <th>Opción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hoja in Model)
                {
                    <tr>
                        <td>@hoja.hojavida_id </td>
                        <td>@hoja.Persona.nombre </td>
                        <td>@hoja.Persona.apellido </td>
                        <td><a href="~/Admin/Views/HojaVida/Imprimir/ @hoja.persona_id">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#Grilla tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');
        });

        // DataTable
        var table = $('#Grilla').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>