@model IEnumerable<SistemaPortafolio.Models.HojaVida>

<br />
<div class="panel panel-default">
    <div class="panel-body text-right">
        <a href="~/Admin/HojaVida/AgregarEditarFA" class="btn btn-primary">Mi Hoja de Vida</a>
    </div><br />
    <div class="panel-body text-right">
        <a href="~/Admin/HojaVida/Imprimir" class="btn btn-primary" >Exportar a PDF</a>
    </div>
</div>


